.DS_Store
package-lock.json
node_modules
.vscode
.env
dist/*
EX1/*
tuto/external-script/*
**/data/*.json
tuto/js-demos
tuto/pizzeria/hmi/basic-fetch
supp_f_inutile.sh
#pour cloner aller à https://downgit.evecalm.com/#/home